# Importing the libraries

In [232]:
from sklearn import datasets
from random import randrange
import numpy as np 
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor

# Importing the datasets

In [231]:
data1=datasets.load_iris()
data2=datasets.load_breast_cancer()
data3=datasets.load_diabetes()
data4=datasets.load_wine()
data5=datasets.load_digits()
data6=datasets.fetch_california_housing()
data7=datasets.load_boston()

# Creating the dataframe

In [223]:
i=randrange(7)
if(i==0):
    data=data1
    df= pd.DataFrame(data= np.c_[data['data'], data['target']],
                 columns= data['feature_names'] + ['Species'])
elif(i==1):
    data=data2
    df= pd.DataFrame(data= np.c_[data['data'], data['target']],
                 columns= np.append(data['feature_names'],['Target']))
elif(i==2):
    data=data3
    df= pd.DataFrame(data= np.c_[data['data'], data['target']],
                 columns= np.append(data['feature_names'],['Target']))
elif(i==3):
    data=data4
    df= pd.DataFrame(data= np.c_[data['data'], data['target']],
                 columns= np.append(data['feature_names'],['Target']))
elif(i==4):
    data=data5
    df= pd.DataFrame(data= np.c_[data['data'], data['target']],
                 columns=['pixel']*64+['Label'])
elif(i==5):
    data=data6
    df= pd.DataFrame(data= np.c_[data['data'], data['target']],
                 columns= np.append(data['feature_names'],['Target']))
else:
    data=data7
    df= pd.DataFrame(data= np.c_[data['data'], data['target']],
                 columns= np.append(data['feature_names'],['Target']))

# Data Frame

In [224]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,Target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0

# Splitting the Dataframe after checking that is it Classification Or Regression

In [237]:
if(df.iloc[:,-1].nunique()<=10):
    X=data.data
    y=data.target
    sc=StandardScaler()
    X=sc.fit_transform(X)
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
    print("Category:Classification")
    print("X_train shape:",X_train.shape,", X_test shape:",X_test.shape,", y_train shape:",y_train.shape,", y_test shape:",y_test.shape)
else:
    X=data.data
    y=data.target
    sc=StandardScaler()
    X=sc.fit_transform(X)
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
    print("Category:Regression")
    print("X_train shape:",X_train.shape,", X_test shape:",X_test.shape,", y_train shape:",y_train.shape,", y_test shape:",y_test.shape)

Category:Classification
X_train shape: (142, 13) , X_test shape: (36, 13) , y_train shape: (142,) , y_test shape: (36,)

# Applying Decision Tree/Regression Tree Algorithm

In [226]:
if(df.iloc[:,-1].nunique()<=10):
    clf=DecisionTreeClassifier()
    clf.fit(X_train,y_train)
else:    
    clf=DecisionTreeRegressor()
    clf.fit(X_train,y_train)

# Prediction

In [227]:
y_pred=clf.predict(X_test)

In [228]:
if(df.iloc[:,-1].nunique()<=10):
    from sklearn.metrics import accuracy_score
    print(accuracy_score(y_test,y_pred))
else:    
    from sklearn.metrics import r2_score
    print(r2_score(y_test,y_pred))

0.9166666666666666

# Output

In [230]:
data1={"Original":y_test,"Predicted":y_pred}
new=pd.DataFrame(data1)
new

    Original  Predicted
0          2          2
1          0          0
2          1          1
3          1          2
4          0          0
5          0          0
6          1          1
7          1          1
8          1          2
9          1          1
10         0          0
11         0          0
12         2          2
13         1          0
14         0          0
15         1          1
16         1          1
17         1          1
18         1          1
19         2          2
20         0          0
21         2          2
22         0          0
23         2          2
24         0          0
25         1          1
26         0          0
27         1          1
28         2          2
29         2          2
30         0          0
31         0          0
32         0          0
33         0          0
34         1          1
35         2          2